@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');
.container {
    width: 100%;
    padding: 100px 30px;
}

section,
.research_contain,
.discovery_polonium,
.experiment_contain,
.noble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


.research_contain {
    padding: 20px 0;
}

.research_content {
    width: 40%;
}

.research_content h3 {
    max-width: 350px;
    font-family: "Rochester", cursive;
    font-size: 3rem;
    font-weight: 400;
}

.research_image {
    width: 40%;
}

.research_image img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.discoveries_container {
    margin-top: 6rem;
}

.discoveries_container .heading {
    text-align: center;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
}

.discovery_polonium_content {
    width: 50%;
}

.discovery_image img {
    width: 100%;
    max-width: 500px;
    height: auto;
}


.experiment_content {
    width: 40%;
}

.experiment img {
    width: 100%;
    max-width: 500px;
    height: auto;
}


.noble p {
    width: 50%;
}

.noble img {
    width: 350px;
    height: auto;
}


.creating {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem 0;
}

.card {
    position: relative;
}

.top-image {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
}

.ourcontact {
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
    text-align: left;
}

@media (max-width: 900px) {
    .research_contain,
    .discovery_polonium,
    .experiment_contain,
    .noble {
        flex-direction: column;
        text-align: center;
    }

    .research_content,
    .research_image,
    .discovery_polonium_content,
    .discovery_image,
    .experiment_content,
    .experiment,
    .noble p,
    .noble_image_container {
        width: 100%;
    }

    .top-image {
        left: 10px;
        width: 50px;
    }

    .creating img {
        width: 100% !important;
        max-width: 350px;
        height: auto;
    }

    .ourcontact {
        gap: 2rem;
        text-align: center;
    }

    .ourcontact > div {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .research_content h3 {
        font-size: 2.3rem;
    }

    .discoveries_container .heading,
    .experiment_container h3,
    .contribution_container h3,
    .noble_container h3 {
        font-size: 1.6rem;
    }

    .top-image {
        width: 40px;
    }
}
