@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.navBackground {
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  z-index: 1000;
}

.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.list {
  display: flex;
}

.carousel .list .item {
  width: 150px;
  height: 200px;
  position: absolute;
  bottom: 15%;
  left: 70%;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.carousel .list .item:nth-child(3) { left: 67%; }
.carousel .list .item:nth-child(4) { left: calc(67% + 200px); }
.carousel .list .item:nth-child(5) { left: calc(67% + 400px); }
.carousel .list .item:nth-child(6) { left: calc(67% + 600px); }
.carousel .list .item:nth-child(n+7) {
  left: calc(67% + 800px);
  opacity: 0;
}

.list .item .content {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  width: 45%;
  color: white;
  display: none;
}

.list .item:nth-child(2) .content {
  display: block;
}

.content .title {
  font-size: 120px;
  line-height: 1;
  font-family: 'Rochester';
  opacity: 0;
  animation: fadeIn 1s ease forwards .3s;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 3rem;
  font-size: 18px;
  width: 80%;
  opacity: 0;
  font-weight: 300;
  animation: fadeIn 1s ease forwards .8s;
}

.content .btn {
  opacity: 0;
  animation: fadeIn 1s ease forwards 1s;
}

.content button {
  width: 170px;
  height: 48px;
  border: none;
  background: #5BC0BE;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: .3s;
}

.content button:hover {
  background: #489998;
}

.arrows {
  position: absolute;
  bottom: 6%;
  right: 4%;
  display: flex;
  gap: 10px;
  z-index: 2000;
}

.arrows button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: #5BC0BE;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
}

.arrows button:hover {
  background: #fff;
  color: #000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@media screen and (max-width: 768px) {
  .content .title {
    font-size: 70px;
  }

  .content {
    left: 40px;
    width: 70%;
  }

  .content .des {
    font-size: 15px;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {

  .list .item:nth-child(1),
  .list .item:nth-child(2) {
    background-position: center;
    background-size: cover;
  }

  .content {
    top: 60%;
    left: 20px;
    width: 85%;
    transform: translateY(-40%);
    text-align: left;
  }

  .content .title {
    font-size: 45px;
    margin-bottom: 10px;
  }

  .content .des {
    font-size: 14px;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .content button {
    width: 150px;
    height: 42px;
    font-size: 16px;
  }

  .arrows {
    right: 50%;
    transform: translateX(50%);
    bottom: 20px;
  }

  .arrows button {
    width: 40px;
    height: 40px;
  }
}
