
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.hidden{
    display: none;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2rem;
    z-index: 1000000;
}
.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    /* margin-left: 12rem; */
}
.navLinks a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 13px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.navLinks a:hover{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);

}
.navLinks a.active{
    color: #5BC0BE;
    border: 1px solid #5BC0BE;
    background-color: rgba(91, 192, 190, 0.1);
}
.moreNav{
    border-style: none;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #5BC0BE;
    color: white;
}
.Logo{
    width: 150px;
}
.MoreButton{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 1000001;
}
.moreButtonLinks{
    width: auto;
    height: auto;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
    padding: 20px 25px;
    padding-bottom: 40px;
    padding-right: 0px;
    background-color: #dbdbdb;
    border-radius: 0px 0px 0px 30px;
    z-index: 1000002;
}
.moreButtonLinks a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    padding-right: 25px;
    border-radius: 5px 0px 0px 5px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    width: 100%;
    
    border: 1px solid transparent;
}
.moreButtonLinks a:hover{
    background-color: rgba(11, 19, 43, 0.1);
    
    border: 1px solid rgba(11, 19, 43);
}
.moreButtonLinks a.active{
    color: #ffffff;
    border: 1px solid rgba(11, 19, 43);
    background-color: rgba(11, 19, 43);
}